/* CSS */

canvas {
    width: 100%;
    height: 100%;
    border: 2px solid purple;
}

guide {

}

.guide > button, input {
    border-radius: 0;
    border: 1px solid purple;
    background-color: black;
    color: purple;
    margin: 4px;
}

body {
    background-color: black;
    color: purple;
}

.case {
    display: grid;
    grid-template-columns: auto 200px;
    height: 100%;
}

.gameinfo_box {
    display: grid;
    grid-template-columns: min-content, auto;
    font-family: Arial, Helvetica, sans-serif;
}

.status {
    
}